.aboutPage{
    background-color: $color-light;
    height: 100vh;
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img{
            margin: 30px;
            width: 300px;
            height: 300px;
        }
        &--text{
            text-align: justify;
        }
        &--paragraph{
            padding:5px;
        }
    }
}