.page__footer {
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    background-image: url('../images/back1.png');
    background-position: center;
    background-repeat: no-repeat;
    &--icons{
      display: flex;
      justify-content: flex-end;
      color: $color-dark;
      :hover {
        color:$color-hover;
      }
      @media all and (min-width: 768px) {
        font-size: 20px;
       
      }
      @media all and (min-width: 1200px) {
        font-size: 30px;
      }
        .fab,
        .fas {
          display: inline-block;
          transition: color ease 0.5s;
        }
  
        .fab:after {
          content: " · ";
          margin: 8px;
          font-weight: bold;
          @media all and (min-width: 768px) {
            content: " | ";
            margin: 15px;
          }
        }
    }
  }
  