.page__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around ;
	background-image: url('../images/back1.png');
	background-position: center;
	background-repeat: no-repeat;
	  }

.menu {
	&__selected {
		margin: 20px;
		text-transform: uppercase;
		@media all and (min-width: 768px) {
			font-size: 40px;
		}
	}
	&__list {
		display: flex;
		a:active, a:visited, a:link {
			color: initial;
			}
		&--item {
			border: 5px solid $color-dark;
			background-color: $color-light;
			color: $color-dark;
			padding: 5px;
			margin: 20px;
			cursor: pointer;
			&:hover {
				background:$color-hover;
				color: $color-dark;
			  }
						
			
			@media all and (min-width: 768px) {
				font-size:25px;
			}
			@media all and (min-width: 1200px) {
				font-size:30px;
			}
		}
	}
}

