.infoPage{
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img{
            margin-top: 20%;
            width: 350px;
            height: 350px;
            position: relative;
            @media all and (min-width: 768px) {
            margin-top: 0;
            width: 600px;
            height: 600px;
		}
            @media all and (min-width: 1200px) {
            margin-top: 0;
            width: 800px;
            height: 800px;
		}
        }
        &--img2{
            margin-top: 34%;
            border-radius: 10px;
            width: 250px;
            height: 150px;
            position: absolute;
            z-index: 999;
            @media all and (min-width: 768px) {
            margin-top: 13%;
            width: 445px;
            height: 260px;
        }
        @media all and (min-width: 1200px) {
            margin-top: 11%;
            width: 580px;
            height: 340px;
		}
        }
    }
}