.infoPage{      
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        @media all and (min-width: 768px) {
            margin-bottom: 10%;
            margin-top: 0;
        }

        &--img2{         
    background-image: url("../images/ordenador.png");
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat;  
    width: 380px;
    height: 300px;
    @media all and (min-width: 768px) {
    width: 700px;
    height: 550px;
    }
    @media all and (min-width: 1000px) {
    width: 800px;
    height: 650px;
    }
        &--slide{ 
        margin: 22px 0px 0px 50px;
        border-radius: 10px;
        width: 280px;
        height: 165px;

        @media all and (min-width: 768px) {
        margin: 40px 0px 0px 95px;
        width: 510px;
        height: 300px;
    }
        @media all and (min-width: 1000px) {
            margin: 54px 0px 0px 110px;
         width: 580px;
        height: 350px;
        }      
        }
    }
}
}

