.page {
background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content:space-evenly;
	align-items: center;
}


.page {
background-image: url('../images/back1.png');
background-position: center;
background-repeat: no-repeat;
background-size:cover ;	
}

.title{
	padding: 40px;
	border: 10px solid $color-dark;
	text-align: center;
	&__principal {
		margin: 10px;
	}
}

.start-button {
	padding: 50px;
	color: $color-light;
	background-color: $color-dark;
	border-radius: 50px;
	outline-style: none;
	&:hover{
		cursor: pointer;
		color: $color-light;
		background-color:$color-dark;
		font-size: 20px;
		border-color: transparent;
	}
}


 
  